<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Colors Extraction</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/rainbow.png') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="https://ousmall.github.io/">&copy; Small Ou {{ current_year }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ url_for('home_page') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- mian section-->
        <main class="form-signin d-flex justify-content-center">
          <div class="py-5 text-center">
            <div class="col-md-auto">
              <h4 class="mb-3">Contact Me</h4>
              <br>
                <form class="needs-validation" novalidate="" action="contact" method="post">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="firstName" class="form-label">First name</label>
                      <input type="text" class="form-control" id="firstName" name="firstname" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                          Valid first name is required.
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <label for="lastName" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                          Valid last name is required.
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Email <span class="text-body-secondary"></span></label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                      <div class="invalid-feedback">
                          Please enter a valid email address for shipping updates.
                      </div>
                    </div>

                    <div class="col-12">
                      <label class="form-label">Message</label>
                      <textarea class="form-control" id="message" name="message" placeholder="" required=""></textarea>
                      <div class="invalid-feedback">
                          Please enter your shipping address.
                      </div>
                    </div>
                  </div>
                  <button class="w-20 m-3 btn btn-dark" type="submit">Send</button>
                  </form>
            </div>
          </div>
        </main>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
</html>